/* Schrijf hier de verschillende stijlen, die gedeeld gaan
   worden door jullie projecten */

/* Kleuren */
:root {
    --primary-button: #f9ff1e;
    --primary-hover-button: #000;
    --secondary-button: #78aaf9;
    --secondary-hover-button: #000;
}

/* Typografie */

/* Font import */
@font-face {
    font-family: 'DIN Next LT Pro Webfont';
    src: url("fonts/DIN\ Next\ LT\ Pro\ Regular.otf") format("opentype");
}

@font-face {
    font-family: 'DIN Next LT Arabic Webfont';
    src: url("fonts/din-next-lt-arabic-regular.ttf") format("truetype");
}

body {
    --primary-font: 'DIN Next LT Pro Webfont', sans-serif;
    --primary-font-ar: 'DIN Next LT Arabic Webfont', sans-serif;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    font-family: var(--primary-font);
}

*:lang(ar) {
    font-family: var(--primary-font-ar);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
nav,
button {
    text-transform: uppercase;
}

h1 {
    font-size: 3.75rem;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.05em;
    line-height: 1em;
}

@media (min-width: 800px) {
    h1 {
        font-size: 5rem;
    }
}

h2 {
    font-size: 1.875rem;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.04em;
    line-height: 1.1em;
}

@media (min-width: 800px) {
    h2 {
        font-size: 2.25rem;
        line-height: 0.95em;
    }
}

h3 {
    font-size: 1.625rem;
    font-weight: var(--font-weight-normal);
    letter-spacing: -0.04em;
    line-height: 1em;
}

@media (min-width: 800px) {
    h3 {
        font-size: 1.875rem;
    }
}

h4 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.04em;
    line-height: 1em;
}

h5 {
    font-size: 1.125rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.1em;
}

/* Texts */
p {
    font-size: 1.2rem;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.02em;
    line-height: 1.5em;
}

blockquote {
    font-size: 2rem;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.02em;
    line-height: 1.2em;
}

@media (min-width: 800px) {
    blockquote {
        font-size: 3.125rem;
        line-height: 1.15em;
    }
}

.introduction-text {
    font-size: 1.77rem;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.02em;
    line-height: 1.2em;
}

.caption,
.tag {
    font-size: 1rem;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.02em;
    line-height: 1.5em;
}

.field-label {
    font-size: 1rem;
    font-weight: var(--font-weight-normal);
    letter-spacing: 0;
    line-height: 2rem;
}

@media (min-width: 800px) {
    .footer-bar-link {
        font-size: 1.25rem;
    }
}

.filter-dropdown {
    font-size: 1.75rem;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.02em;
    line-height: 1.2em;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

p a {
    text-decoration: underline;
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

.button-link {
    font-size: 1rem;
    font-weight: var(--font-weight-normal);
    letter-spacing: -0.02em;
    line-height: 2rem;
}

.footer-bar-link {
    font-size: 1.125rem;
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.02em;
    line-height: 1.25rem;
    color: inherit;
}

/* Display styles */
.ticker-bar {
    font-size: calc(1.75 * 3.75rem);
    font-weight: var(--font-weight-normal);
    letter-spacing: -0.04em;
    line-height: 1.1em;
}

/* Formulier elementen */